<section class="content" >
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="">Tender Module</li>
        <li class="active">Create Tender</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="fa fa-user"></span><strong> Tender Info</strong></h4>
                <ul class="panel-controls">
                    <li><a ng-click="" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <form name="CreateNewUser" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Name</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-edit"></span></span>
                                        <input type="text" ng-model="SystemUser.fullName" class="form-control" name="fullnameText" placeholder="Enter tender name" required>
                                    </div>
                                    <span class="help-block">Tender Description Name</span>
                                </div>
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label class="col-md-3 control-label text-left">Entity Type</label>-->
<!--                                <div class="col-md-7">-->
<!--                                    <div class="input-group has-feedback">-->
<!--                                        <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>-->
<!--                                        <input type="email" required=""  ng-model="SystemUser.emailAddress" class="form-control" name="emailAddressText" placeholder="Enter entity type">-->
<!--                                    </div>-->
<!--                                    <span class="help-block">Entity Type</span>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Entity Name</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                        <input type="email" required=""  ng-model="SystemUser.emailAddress" class="form-control" name="emailAddressText" placeholder="Enter entity name">
                                    </div>
                                    <span class="help-block">Entity Name</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Opening Venue</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                        <input type="email" required=""  ng-model="SystemUser.emailAddress" class="form-control" name="emailAddressText" placeholder="Tender Opening Venue">
                                    </div>
                                    <span class="help-block">Opening Venue</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Submission Closing Date and Time</label>
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="CashCollection.prefCollectionTime.date" is-open="dateTimePicker2.open" datepicker-options="CashCollection.prefCollectionTime.dateOptions" timepicker-options="CashCollection.prefCollectionTime.timepickerOptions" required=""/>
                                        <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="dateTimePicker2.open = !dateTimePicker2.open"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    <button type="button" class="btn btn-secondary" ng-click="setCollectionToday()"><i class="fa fa-clock-o"></i> Today</button>
                                                </span>
                                    </p>
                                    <span class="help-block">Closing Date and Time</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Source of Funds</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                        <input type="email" required=""  ng-model="SystemUser.emailAddress" class="form-control" name="emailAddressText" placeholder="Enter source of funds">
                                    </div>
                                    <span class="help-block">Source of funds</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Reference Number</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                        <input type="text" ng-model="SystemUser.msisdn" class="form-control" minlength="10" maxlength="10" name="msisdnText" placeholder="Enter tender number" numbers-Only required ng-pattern="/^[0][7][0-9]/">
                                    </div>
                                    <span class="help-block">Reference Number</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Type</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-caret-down"></span></span>
                                        <select data-ng-options="SystemUser.id as SystemUser.userType for SystemUser in UserTypes" data-ng-model="SystemUser.userTypeId" class="form-control" ng-change='userTypeChange(SystemUser.userTypeId)' required>
                                            <option value="" ng-if="!SystemUser.userTypeId">Select Tender Type</option>
                                        </select>
                                    </div>
                                    <span class="help-block">Tender Type</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Application Fee</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                                        <input type="email" required=""  ng-model="SystemUser.emailAddress" class="form-control" name="emailAddressText" placeholder="Enter application fee" numbers-Only>
                                    </div>
                                    <span class="help-block">Application Fee</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Opening Date and Time</label>
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="CashCollection.prefCollectionTime.date" is-open="dateTimePicker2.open" datepicker-options="CashCollection.prefCollectionTime.dateOptions" timepicker-options="CashCollection.prefCollectionTime.timepickerOptions" required=""/>
                                        <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="dateTimePicker2.open = !dateTimePicker2.open"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    <button type="button" class="btn btn-secondary" ng-click="setCollectionToday()"><i class="fa fa-clock-o"></i> Today</button>
                                                </span>
                                    </p>
                                    <span class="help-block">Tender Opening Date and Time</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Upload Tender Document</label>
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="file" id="myFile" name="filename">
                                    </p>
                                    <span class="help-block">Tender Document</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default" ng-click="viewUser(SystemUser, false)"><i class="fa fa-times-circle"></i> Cancel</button>
                            <button class="btn btn-secondary" ng-click="saveSystemUser()"><i class="fa fa-check-square-o"></i> Publish Tender</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
