<section class="content" >
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="">Planning Module</li>
        <li class="active">Create Tender Request</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="fa fa-user"></span><strong> Create Tender Request</strong></h4>
                <ul class="panel-controls">
                    <li><a ng-click="" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <form name="TenderRequest" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Department</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-caret-down"></span></span>
                                        <select data-ng-options="Departments.departmentid as Departments.departmentName for Departments in Departments" data-ng-model="tenderRequest.departmendId" class="form-control" ng-change='departmentChange(tenderRequest.departmendId)'>
                                            <option value="" ng-if="!tenderRequest.departmentId">Select User Department</option>
                                        </select>
                                    </div>
                                    <span class="help-block">System User Department</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Request Name</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-edit"></span></span>
                                        <input type="text" ng-model="tenderRequest.tenderRequestName" class="form-control" name="tenderRequestName" placeholder="Enter tender name" required>
                                    </div>
                                    <span class="help-block">Tender Request Name</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Tender Request Brief</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-edit"></span></span>
                                        <textarea type="text" ng-model="tenderRequest.tenderRequestBrief" class="form-control" name="tenderRequestBrief" placeholder="Enter request brief" required></textarea>
                                    </div>
                                    <span class="help-block">Request Description</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Entity Name</label>
                                <div class="col-md-7">
                                    <div class="input-group has-feedback">
                                        <span class="input-group-addon"><span class="fa fa-edit"></span></span>
                                        <input type="text" ng-model="tenderRequest.entityName" class="form-control" name="entityName" placeholder="Entity Name" required>
                                    </div>
                                    <span class="help-block">Entity Name</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-left">Upload Tender Request Document</label>
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="file" id="myFile" name="filename">
                                    </p>
                                    <span class="help-block">Tender Request Document</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default" ng-click="viewProposal(tenderRequest, false)"><i class="fa fa-times-circle"></i> Cancel</button>
                            <button class="btn btn-secondary" ng-click="saveProposal()"><i class="fa fa-check-square-o"></i> Publish Tender Request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
